{% extends 'plans/base.html' %}
{% block content %}
<div class="container">
  <div class="row justify-content-center">
      <div class="col-md-4 order-md-2 mb-4">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
          <span class="text-muted">Your cart</span>
          <span class="badge badge-secondary badge-pill">1</span>
        </h4>
        <ul class="list-group mb-3">
          <li class="list-group-item d-flex justify-content-between lh-condensed">
            <div>
              <h6 class="my-0">Premium</h6>
              <small class="text-muted">{{ plan|title }}</small>
            </div>
            <span class="text-muted">${{ price }}</span>
          </li>
          
          <li class="list-group-item d-flex justify-content-between">
            <span>Total (USD)</span>
            <strong>${{ price }}</strong>
          </li>
        </ul>

        <div class="text-center pt-3">
        <form action="{% url 'checkout' %}" method="POST">
          {% csrf_token %}
          <script
            src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="pk_test_51HGHQuJBOAvqUGTy3yiOurVPXmhj7AipuBO7kA6kN7sCUbHhSTcrqgrtpsZBRR4Er2fiPQYjKCzvY2mR52DiFNd600hUuGSiam"

            data-amount="{{ price }}"
            data-name="My Site"
            data-description="Premium Membership"
            data-email="{{ user.email }}"
            data-locale="auto">
          </script>
          <input type="hidden" value="{{ plan }}" name="plan" />
         
        </form>
        </div>
        </div>
      </div>
      </div>



{% endblock %}
